/DesktopJavaFramework/build/
/DesktopJavaFramework/nbproject/private/
/PropertiesManager/build/
/PropertiesManager/nbproject/private/
/SlideshowCreator/build/
/SlideshowCreator/nbproject/private/
/CodeCheck/build/
/CodeCheck/nbproject/private/
/jTPS/build/
/jTPS/dist/
/jTPS/nbproject/private/