/JavaFXApplication1/nbproject/private/
/DesktopJavaFramework/nbproject/private/
/PropertiesManager/nbproject/private/
/SlideshowCreator/nbproject/private/
/PropertiesManager/build/
/PropertiesManager/dist/
/DesktopJavaFramework/build/
/DesktopJavaFramework/dist/
/SlideshowCreator/build/
/SlideshowCreator/dist/